// SIZES

// WIDTHS
$size-width-small: 320;
$size-width-large: 1440;
$size-width-xlarge: 1920;

// DEVICES
$size-mobile-small: 320;
$size-mobile-medium: 375;
$size-mobile-large: 425;
$size-tablet: 768;
$size-laptop-small: 1024;
$size-laptop-medium: 1280;
$size-laptop-large: 1440;
