<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <sidebar>
      <h1>
        <img src=<%= require("./assets/images/logo-zimo.svg") %> alt="Logo de Zimo">
      </h1>
      <p class="footer"><img src=<%= require("./assets/icons/code.svg") %> alt="Programmé"> avec <img src=<%= require("./assets/icons/like.svg") %> alt="passion"> par <a href="https://marcantoineruel.com">Marc-Antoine Ruel</a></p>
    </sidebar>
    <main>
      <div class="title">
        <p>Étude de marché</p>
      </div>
      <div id="app"></div>
    </main>
  </body>
</html>
